.App {
  margin: 0 auto;
  width: 960px;
}
.search-bar {
  background-image: url("./logo.png");
  background-repeat: no-repeat;
  background-size: 3.5rem 3.5rem;
  color: white;
  background-color: #fe6906;
  height: 3.5rem;
  /* border: 1px solid red; */
}

.search-bar label {
  margin-left: 4rem;
}
.search-bar input[type="text"] {
  margin: 10px; 
  border: none; 
  width: 50%;
  height: 2rem;
}
